[MASTER]
init-hook=
    import sys
    sys.path[1:1] = [
        "stubs/cpython_core-micropython",
        "stubs/cpython_core-pycopy",
        "stubs/micropython-v1_18-docstubs",
        "stubs/micropython-v1_18-frozen/esp8266/GENERIC",
    ]

disable = missing-docstring, line-too-long, trailing-newlines, broad-except, logging-format-interpolation, invalid-name,
        no-method-argument, assignment-from-no-return, too-many-function-args, unexpected-keyword-arg

[DESIGN]
max-attributes=10
min-public-methods=1
